{% url 'home' as users_url %}
{% url 'candidates' as candidates_url %}
{% url 'sync_log' as logs_url %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container" style="margin-top: 40px">
    {% block body %}
    
    {% if user.is_active %}
    <div class="float-right"> 
     <a href="{% url 'logout' %}?next=/">logout ({{user.username}})</a>
    </div>
    {% endif %}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link{% if request.path == users_url %} active{% endif %}" href="{{users_url}}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == candidates_url %} active{% endif %}" href="{{candidates_url}}">Candidates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == logs_url %} active{% endif %}" href="{{logs_url}}">Logs</a>
        </li>
      </ul>
  		<div style="padding: 20px">{% block content %}{%endblock%}</div>
    {% endblock %}
    </div>
   </body>
 </html>