{% extends "base.html" %}
{% block content %}
<p> Todo: Rather than button set celery to Schedule the Sync task every day</p>

<h1>Candidates:</h1>
<form action="#" method="post">
	{% csrf_token %} 
	<button class="btn btn-secondary" type="submit">Sync Candidates!</button>
</form>
<hr>
<ul class="list-group">
{% for user in users %}
	<li class="list-group-item{% if user.pic %} list-group-item-success{%endif%}"><a href="{% url 'user_pic' user.pk %}">{{user.email}}</a> </li>
{% endfor %}
</ul>
{% endblock %}