{% extends "base.html" %}
{% block content %}
<p> Todo: Create users and store into db from 3rd party API for list of users, instead of forms</p>
<hr>
<h1>Users</h1>
<form action="#" method="post">
	{% csrf_token %} 
	<div class="input-group">
      <input type="text" class="form-control" placeholder="Add Email.." name="email">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">Add!</button>
      </span>
    </div>
</form>
<hr>
<ul class="list-group">
{% for user in users %}
	<li class="list-group-item"><a href="{% url 'user_pic' user.pk %}">{{user.email}}</a> </li>
{% endfor %}
</ul>
{% endblock %}