{% extends "base.html" %}
{% block content %}

<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{{ user.pic.url }}" alt="Profile Pic">
  <div class="card-body">
    <h4 class="card-title">{{user.cId}}</h4>
    <p class="card-text"><strong>{{user.email}}</strong></p>
    <a href="{{ user.pic.url }}" class="card-link">{{ user.pic.name }}</a>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Client: <strong>{{user.employer}}</strong></li>
    <li class="list-group-item">Consultant: <strong>{{user.recruiter}}</strong></li>
    <li class="list-group-item">{{user.upload_date}}</li>
  </ul>
</div>

{% endblock %}	